.root {
    margin-top: 15px;
}

.input {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #c7c7c7;
    transition: border-color 0.2s ease-in-out;
}

.input:hover {
    border-color: #212121;
}

.input:focus {
    border-color: #2196f3;
}
